@model CategoryResponse

@{
    ViewData["Title"] = $"Delete {Model.Name} Category";
}

<div class="container">
    <div class="crud-form">
        <div class="form-head">
            <h1>Delete</h1>
            <i class="fa-solid fa-trash"></i>
        </div>
        
        <div class="details-section">
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>

            <form asp-action="DeleteConfirm" method="post" class="form-group btn-group" 
                style="margin-top: 0; width: 80%; margin-left: 10%; margin-top: -10%;">

                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" id="delete-btn"/>
                <a asp-action="Index" class="btn btn-custom" id="back-to-list-btn">Back to List</a>
            </form>
        </div>
    </div>
</div>

<script src="~/js/confirm-deletion.js"></script>
