@model CategoryResponse

@{
    ViewData["Title"] = $"Details about {Model.Name} category";
}

<div class="container">
    <div class="crud-form">
        <div class="form-head">
            <h1>Details</h1>
            <i class="fa-solid fa-circle-info"></i>
        </div>

        <div class="details-section">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <div class="form-group btn-group" style="margin-top: 0; width: 80%; margin-left:10%">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-custom">Back to List</a>
            </div>
        </div>
    </div>
</div>
