@model CategoryUpdateRequest

@{
    ViewData["Title"] = $"Edit {Model.Name} Category";
}

<div class="container">
    <div class="crud-form">
        <div class="form-head">
            <h1>Edit</h1>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <form asp-action="Edit" autocomplete="off" style="margin-top: -40px;">
            <div asp-validation-summary="ModelOnly" class="text-bad"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-bad"></span>
            </div>
            <div class="form-group" style="margin-top: -30px;">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-bad"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Save" class="btn btn-create" />
                <a asp-action="Index" class="btn btn-custom">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
