@model TransactionAddRequest

@{
    ViewData["Title"] = "Add new transaction";
}

<div class="container">
    <div class="crud-form" id="transactions">
        <div class="form-head">
            <h1>Create</h1>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        <form asp-action="Create" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-bad"></div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <div class="select-wrapper">
                    @if ((ViewBag.CategoryNames != null && ((List<string>)ViewBag.CategoryNames).Any()))
                    {
                        <select asp-for="Category" class="form-control">
                            @foreach (var categoryName in (List<string>)ViewBag.CategoryNames)
                            {
                                <option value="@categoryName">@categoryName</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select asp-for="Category" class="form-control" disabled>
                            <option value="">No categories available</option>
                        </select>
                    }
                </div>

                <span asp-validation-for="Category" class="text-bad"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <div class="select-wrapper">
                    <select asp-for="Type" class="form-control">
                        <option value="Expense" selected>Expense</option>
                        <option value="Revenue">Revenue</option>
                    </select>
                </div>
                <span asp-validation-for="Type" class="text-bad"></span>
            </div>

            <div class="form-group" style="position: relative;">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-bad"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" 
                    class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-bad"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required="false" />
                <span asp-validation-for="Description" class="text-bad"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Create" class="btn btn-create" />
                <a asp-action="Index" class="btn btn-custom">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
